DB_USER=root
DB_PASS=root
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=openvk_im

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0

APP_PORT=8080
# DO NOT SET TO "development" IF THE SERVER IS EXPOSED! 
# SENDS SENSITIVE DATA.
APP_ENV =production 

SECRET_KEY = "key" # 64 bytes or longer 
CONNECTION_SECRET = "SomeKeyHere"