DB_USER=root
DB_PASS=root
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=openvk_im

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0
REDIS_PREFIX="ovkim_"

APP_PORT=8080
APP_ENV =production # optional "development"

SECRET_KEY = "key" # 64 bytes or longer 